.container {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue; /* to delete. visual aid */
}

/* Box Item number */
.boxITEM {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  min-width: 30px;
  max-width: 40px;
  height: 90px;
  margin: 3px;
  border-radius: 8px;
  background-color: lightsteelblue;
}

/* Box Edit Button */
.boxEDIT {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  min-width: 30px;
  max-width: 50px;
  height: 90px;
  margin: 3px;
  border: 1px solid greenyellow;
  border-radius: 8px;
  background-color: #9dd396;
}

/* Box Image box */
.boxPHOTO img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  min-width: 90px;
  max-width: 90px;
  margin: 3px;
  border: 1px solid lightgray; /* to delete. visual aid */
  border-radius: 8px;
  background-color: #eceded;
}

/* Box Text box */
.box:nth-child(2) {
  flex: 1 1 auto;
  min-width: 150px;
  max-width: 300px;
  margin: 0 10px;
  border: 1px solid cyan;
}

/* Text > Title font @@@@@ This is currently broken */
.box:nth-child(2) > div:first-child {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 8px;
}

/* Text > Summary font  @@@@@ This is currently broken */
.box:nth-child(2) > div:last-child {
  font-size: 16px;
}

/* Box Price */
.boxPRICE {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  min-width: 30px;
  max-width: 50px;
  height: 90px;
  margin: 3px;
  border-radius: 8px;
  background-color: #e6e6e6;
}

/* Box Stock */
.boxSTOCK {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  min-width: 30px;
  max-width: 45px;
  height: 90px;
  margin: 3px;
  border-radius: 8px;
  background-color: lightsteelblue;
}

/* Box Delete button */
.boxDELETE {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  min-width: 30px;
  max-width: 50px;
  height: 90px;
  margin: 3px;
  border: 1px solid #a50101;
  border-radius: 8px;
  background-color: palevioletred;
}
