@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  font-size: 14px;
  font-family: 'Lato', sans-serif;

  color: seashell;
  /* width: 1000px; */
  /* height: 2000px; */
}

/* Common Styles */
h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 15px;
  /* font-weight: bold; */
}

/* ............//// Showcase styling ////......... */

.showcase-area {
    height: 450px;
    background-color: rgb(203, 203, 197);
    /* background: 
      url("../img/assets/aboutusbg.jpg");
    background-size: cover;
    background-position: bottom; */
    
    /* background-repeat: no-repeat; */
  }
  
  .showcase-container {
    display: flex;
    flex-direction: column; /* so that text appear in new line */
    align-items: center;
    justify-content: center;
    height: 100%;
    /* font-size: 1.6rem; */
  }
  
  .main-title {
    text-transform: uppercase;
    margin-top: 50px;
  }


  /* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
  }
  
 
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 640px) {
    
    .featurette-heading {
      font-size: 50px; 
    }
  }
  
  /* @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  } */

  