@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  font-size: 14px;
  font-family: 'Lato', sans-serif;

  color: seashell;
  /* width: 1000px; */
  /* height: 2000px; */
}

/* Common Styles */
h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 15px;
  /* font-weight: bold; */
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}






/* define width and height for images*/
.slide {
  width: 100%;
  height: 100%;
}

.slide-img {
  
  object-fit: cover;
}

/* new arrivals display */
.mobile-image {

   width: 40%; 
   height: auto;
  margin: 15px auto;
  
  /* border: 1px solid black; */
}






