@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  font-size: 14px;
  font-family: 'Lato', sans-serif;

  /* color: seashell;  */
  /* width: 1000px; */
  /* height: 2000px; */
}

/* Common Styles */
h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 15px;
  /* font-weight: bold; */
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 512px; /* 32rem */
}



/* define width and height for images*/
.slide {
  width: 100%;
  height: 100%;
}
/* carousel images */
.slide-img {
  
  object-fit: cover;
}

/* new arrivals display */
.mobile-image {

   width: 40%; 
   height: auto;
  margin: 15px auto;
  
  /* border: 1px solid black; */
}

/* end of CAROUSEL */

/* background video */

.video-background-holder {
  position: relative;
  background-color: black;
  height: calc(100vh - 72px);
  min-height: 25rem;
  width: auto;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
/* Add an overlay with a semi-transparent color */
.overlay {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Set the background color with an alpha value */
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.hover12 {
  position: relative;
}

.hover12::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-out;
  opacity: 0;
}

.hover12:hover::before {
  opacity: 1;
}

.hover12:hover .overlay {
  opacity: 1;
}

/* .overlay {
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-out;
} */


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}


