/* DELETE. visual design aid*/
.product_common_container {
  max-height: 120px; /* limit image height in container */
  border: 1px solid blue; /* delete: visual design aid */
  margin: 10px; /* delete: visual design aid */
  padding: 10px; /* delete: visual design aid */
}

/* ---------------------------------------------------------------------- */
/* nested IMG - product image */
.boxIMG {
  border: 1px solid purple; /* delete: visual design aid */
  max-height: 95%; /* limit image height in box */
  display: inline-block; /* this forced the nesting to be horizontal */
  /* height: 90px; */
  width: 90px;
  margin: 0 auto; /* @@@@ not able to center align */
}

/* ---------------------------------------------------------------------- */
/* nested INFO box */
.boxINFO {
  border: 1px solid darkgreen; /* delete: visual design aid */
  max-height: 95%; /* limit image height in box */
  align-items: center;
  text-align: left;
  display: inline-block; /* this forced the nesting to be horizontal */
  width: 55%;
}

/* nested INFO: Title */
.boxINFO_title {
  max-width: 95%;
  text-align: left;
  font-size: 21px;
  font-weight: 500;
}

/* nested INFO: Summary */
.boxINFO_summary {
  max-width: 95%;
  word-wrap: break-word;
  text-align: left;
  font-size: 12.5px;
  color: #535353;
}

/* ---------------------------------------------------------------------- */
/* nested Price - product pricing */
.boxPRICE {
  border: 1px solid darkgreen; /* delete: visual design aid */
  max-height: 95%; /* limit image height in box */
  display: inline-block; /* this forced the nesting to be horizontal */
  text-align: center;
  color: black;
  font-size: 25px;
  width: 10%;
}

/* ---------------------------------------------------------------------- */
/* nested CTA - add to cart button */

.boxCTA {
  border: 1px solid darkred; /* delete: visual design aid */
  max-height: 95%; /* limit image height in box */
  display: inline-block; /* this forced the nesting to be horizontal */
  width: 10%;
}

/* nested CTA - input field */
.boxCTA_add_input {
  font-size: 13px;
  width: 100%;
  background-color: #e0d8d8;
}
