<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Home Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">



  <link rel="stylesheet" href="../../css/homepage.css" />
</head>

<body>
  <!-- Carousel -->

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">

        <img class="slide-img" width="100%" height="100%" src="img/assets/carousel.jpg"
          aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        
          <div class="container">
            <div class="carousel-caption">
              <h1>Join Us.</h1>
              <p>First time purchase get 20% off! </p>
              <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <img class="slide-img" width="100%" height="100%" src="img/assets/carousel4.jpg"
          aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        
          <div class="container">
            <div class="carousel-caption">
              <h1>About Us</h1>
              <p>Get to know more about our team members! Project codes are available in our team github page.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <img class="slide-img" width="100%" height="100%" src="img/assets/carousel3.jpg"
          aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        
          <div class="container">
            <div class="carousel-caption">
              <h1>New Arrivals</h1>
              <p>Wide selection of fruits and vegetables available in bulk purchases. Buy while stock lasts.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Shop Now</a></p>
            </div>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>


</body>

</html>