<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/compon_login.css"> <!-- loads css -->
  <script src="/js/compon_login.js"></script> <!-- loads javascript -->
  <title>Login Page</title>
</head>

<body>


  <div class="login_block">

    <!-- logo -->
    <div class="logo">
      <img src="/img/assets/logo_login.png" alt="Logo" width="300" height="45">
    </div>

    <!-- spacer -->
    <div class="spacer"></div>

    <!-- Welcome text -->
    <div class="text">
      <h1>Welcome!</h1>
      <p>Please enter login details to continue</p>
    </div>

    <!-- user id -->
    <div class="text">
      <p>Username/Email</p>
      <input type="text" name="username" id="username">
    </div>

    <!-- spacer -->
    <div class="spacer"></div>

    <!-- password field -->
    <div class="text">
      <p>Password</p>
      <input type="password" name="password" id="password">
    </div>

    <!-- spacer -->
    <div class="spacer"></div>

    <!-- Sumbit button -->
    <div class="button">
      <button type="submit"
        onclick="login(document.getElementById('username').value, document.getElementById('password').value)">Login</button>
    </div>

    <!-- Password Reset -->
    <div>
      <a href="#">I forgot my password</a>
    </div>
  </div>




</body>

</html>


line1 

line2 
edit  delete
