<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Co
  mpatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/compon_product_admin_v1.css">

  <title>v1 Code Block Component for Product: admin</title>
</head>

<body>


  <!-- BEGIN ---------------------------------------------------- -->

  <!-- Main Container block -->
  <div class="container">

    <!-- Main Item No -->
    <div class="boxITEM">
      85
    </div>

    <!-- Main Edit Button -->
    <div class="boxEDIT">
      edit
    </div>



    <!-- Main Img box -->
    <div class="boxPHOTO">
      <img src="/img/assets/img_placeholder.png" alt="###">
    </div>


    <!-- Main Text box -->
    <div class="box">

      <!-- Text > Title -->
      <div style="text-align: left">
        Title Admin CRUD
      </div>

      <!-- Text > Summary -->
      <div style="text-align: left">
        summary text. max 80 chrs. Word wrapped. 0123456789
      </div>

    </div>


    <!-- Main Price box -->
    <div class="boxPRICE">
      $999
    </div>


    <!-- Stock -->
    <div class="boxSTOCK">
      stock
    </div>


    <!-- Delete Button -->
    <div class="boxDELETE">
      delete
    </div>


  </div>
  <!-- END ------------------------------------------------------ -->






</body>

</html>