<!DOCTYPE html>
<html lang="en">


<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/project/css/reset.css">
   <link rel="stylesheet" href="../../css/compon_footer.css">
   <title>Footer</title>
</head>


<body>
    <div class="container footerIcons">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-between pb-3 mb-3">

            <li class="nav-item"><a href="https://singapore.generation.org/" class="nav-link px-2 text-body-secondary" target="_blank"><img src="img/assets/GenSG_200.png"></a></li>

            <div class="line"></div>

            <li class="nav-item"><a href="https://singapore.generation.org/" class="nav-link px-2 text-body-secondary" target="_blank"><img src="img/assets/tp_200.png"></a></li>

            <div class="line"></div>

            <li class="nav-item"><a href="https://singapore.generation.org/" class="nav-link px-2 text-body-secondary" target="_blank"><img src="img/assets/git.png"></a></li>


          </ul>
          <p class="text-center text-body-secondary">&copy; 21 Tampines Ave 1, 529757, Singapore <br> © 2023 Wellow. All rights reserved</p>
        </footer>
      </div>
</body>


</html>
