<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/compon_product_normalv4.05.css">

  <title>v4.05 Code Block Component for Product: normal</title>
</head>

<body>


  <!-- BEGIN ---------------------------------------------------- -->

  <!-- Main Container block -->
  <div class="container">

    <!-- Main Img box -->
    <div class="boxPHOTO">
      <img src="/img/assets/img_placeholder.png" alt="###">
    </div>

    <!-- Main Text box -->
    <div class="box">

      <!-- Text > Title -->
      <div style="text-align: left">Title</div>

      <!-- Text > Summary -->
      <div style="text-align: left">summary text. max 80 chrs. Word wrapped. 0123456789</div>
    </div>

    <!-- Main Price box -->
    <div class="box">
      <div>$888</div>
    </div>

    <!-- Main CTA box -->
    <div class="box">

      <!-- CTA > Input Field -->
      <div>
        <input type="number" id="stepper" name="stepper" value="1" min="1" max="100" step="1">
      </div>

      <!-- CTA > Submit Button -->
      <div>
        <button type="submit">Add</button>
      </div>
    </div>
  </div>
  <!-- END ------------------------------------------------------ -->






</body>

</html>