<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>

<body>

    <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" id="productModal" tabindex="-1"
        role="dialog">
        <div class="modal-dialog" id="displayProduct" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-body p-5">
                    <h2 class="fw-bold mb-2">Product Name</h2>




                    <img src="../../img/products/Pink_lettuce.jpg" class="bi text-body-secondary flex-shrink-0"
                        width="50%" height="50%">
                    <div>
                        <div class="mt-1 mb-0 text-muted small">
                            <span>Fresh</span>
                            <span class="text-primary"> • </span>
                            <span>Local</span>
                            <span class="text-primary"> • </span>
                            <span>Fruits<br /></span>
                        </div>
                        <h5 class="mb-0">Grid view</h5>

                        Not into lists? Try the new grid view. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Corporis odit repellat numquam porro aspernatur assumenda perspiciatis fuga, accusamus optio hic
                        in ipsum saepe, quis dicta neque voluptates nulla deleniti quia.
                    </div>


                    <div class="modal-footer">
                        <a class="btn btn-primary" data-bs-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        // get user information from the local storage and display in the <p>
        //local Storage is storing the string of user information
        //We will need to convert the string back to object to display
        const getProducts = localStorage.getItem("myProducts");

        const convertProducts = JSON.parse(getProducts);

        document.querySelector('#displayProduct').innerHTML = `
          <div class="modal-content rounded-4 shadow">
            <div class="modal-body p-5">
              <h2 class="fw-bold mb-2">${convertProducts.name}</h2>

                  <img src="${convertProducts.imageURL}" class="bi text-body-secondary flex-shrink-0" width="50%" height="50%">
                  <div>
                    <div class="mt-1 mb-0 text-muted small">
                        <span>Fresh</span>
                        <span class="text-primary"> • </span>
                        <span>Local</span>
                        <span class="text-primary"> • </span>
                        <span>Fruits<br /></span>
                    </div>
                    <h5 class="mb-0">Grid view</h5>
                   
                    ${convertProducts.description}
                  </div>
                
              
                  <div class="modal-footer">
                    <a class="btn btn-primary" data-bs-dismiss="modal">Close</a>
                </div>
            </div>
          </div>`;


    </script>
</body>

</html>